{% extends "base.html" %} 
{% block content %} 
    
    <main class="form-signin w-100 m-auto">
        <form method="POST  ">
            <img class="mb-4" src="static\logo.jpg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Registrierung</h1>
            {{ form.hidden_tag() }}
            <div class="form-floating">
            <p>Email</p>
            {{form.email()}}
            </div>

            <div class="form-floating">
                <p>Nutzername</p>
                {{form.username()}}
            </div>

            <div class="form-floating">
            <p>Passwort</p>
            {{form.passwort()}}
            </div>

            <div class="form-floating">
                <p>Passwort bestätigen</p>
            {{form.confirm_pw()}}
            </div>

            <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Mitglied werden</button>
        </form>
    </main>

{% endblock %}