{% extends "base.html" %} 
{% block content %} 
<link href="signin.css" rel="stylesheet">

<body class="text-center">  
    <main class="form-signin w-100 m-auto">
    <form>
        <img class="mb-4" src="static\logo.jpg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Login/h1>
        {{ form.hidden_tag() }}
        <div class="form-floating">
        <p>Email</p>
        {{form.email(type="email", class_="form-control", id="floatingInput", placeholder="name@example.com")}}
        </div>

        <div class="form-floating">
        <p>Passwort</p>
        {{form.passwort(type="passwort", class_="form-control", id="floatingInput", label="maxmuster")}}
        </div>

        <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Erinnere mich
        </label>
        </div>

        <button class="w-100 btn btn-lg btn-success" type="submit">Anmelden</button>
    </form>
    </main>
    
</body>
{% endblock %}